<!DOCTYPE html>
<html>

<head>
  <title>ENSEJA</title>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Home | Style Guide</title>
  <!-- meta name="description" content="Description of the page less than 150 characters" -->
  <!-- meta description -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,900&display=swap">
  <link rel="stylesheet" href="https://basecoat.cdn.dimensiondata.com/3.2.6/css/ntt.basecoat-dark.min.css">
  <!-- Basecoat's CSS (dark) -->
  <!-- link rel="stylesheet" href="css/app.min.css" -->
  <!-- your own stylesheet here -->
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://basecoat.cdn.dimensiondata.com/3.2.6/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32"
    href="https://basecoat.cdn.dimensiondata.com/3.2.6/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="https://basecoat.cdn.dimensiondata.com/3.2.6/img/favicon/favicon-16x16.png">
  <link rel="mask-icon" href="https://basecoat.cdn.dimensiondata.com/3.2.6/img/favicon/safari-pinned-tab.svg"
    color="#0072bc">
  <link rel="shortcut icon" href="https://basecoat.cdn.dimensiondata.com/3.2.6/img/favicon/favicon.ico">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">

  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
 {{#if user}}
<div class="sticky-footer-layout desktop-menu-layout mobile-menu-layout" id="EL__5__">

  <!-- Desktop menu -->
  <div class="desktop-menu">
    <div class="accordion-menu">
      <div class="scroll-wrapper scrollbars scrollbars-light scrollbar-inner" style="position: relative;">
        <nav class="scrollbars scrollbars-light scrollbar-inner scroll-content"
          style="height: 478px; margin-bottom: 0px; margin-right: 0px; max-height: none;">
          <ul class="nav" data-accordion-group="">
            <li><a href="/index">Home</a></li>
            <li><a href="/skills">Certifications</a></li>
            <li><a href="/skills">Trainings</a></li>

            <li>
              <a class="next collapsed" data-toggle="collapse">Skills</a>
              <ul class="collapse in">


                <li class="hidden-mobile" id="item_cpu">
                  <a href="#" data-toggle="desktop-menu" title="Desktop menu">
                    <div class="hidden-closed">Router&Switch</div>
                  </a>
                </li>
                <li class="hidden-mobile" id="item_memor">
                  <a href="#" data-toggle="desktop-menu" title="Desktop menu">
                    <div class="hidden-closed">Security</div>
                  </a>
                </li>
                <li class="hidden-mobile" id="item_disp">
                  <a href="#" data-toggle="desktop-menu" title="Desktop menu">
                    <div class="hidden-closed">F5</div>
                  </a>
                </li>
                <li class="hidden-mobile" id="item_inter">
                  <a href="#" data-toggle="desktop-menu" title="Desktop menu">
                    <div class="hidden-closed">Data Center</div>
                  </a>
                </li>
                <li class="hidden-mobile" id="item_inter">
                  <a href="#" data-toggle="desktop-menu" title="Desktop menu">
                    <div class="hidden-closed">Wifi</div>
                  </a>
                </li>

                <!--li class="hidden-closed" id = "item_ci"><a href="#">C.I.</a></li-->

              </ul>
            </li>

          </ul>
        </nav>
        <div class="scroll-element scroll-x">
          <div class="scroll-element_outer">
            <div class="scroll-element_size"></div>
            <div class="scroll-element_track"></div>
            <div class="scroll-bar" style="width: 0px;"></div>
          </div>
        </div>
        <div class="scroll-element scroll-y">
          <div class="scroll-element_outer">
            <div class="scroll-element_size"></div>
            <div class="scroll-element_track"></div>
            <div class="scroll-bar" style="height: 0px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Site header -->
  <header class="site-header" id="EL__4__">
    <nav class="navbar navbar-fixed-top" id="EL__3__">
      <ul class="nav navbar-nav navbar-left" id="EL__2__">
        <li class="desktop-menu-toggle hidden-mobile" id="EL__1__">
          <a href="#" data-toggle="desktop-menu" title="Desktop menu">
            <div class="hidden-closed">Fechar</div>
            <div class="hidden-opened"></div>
          </a>
        </li>
        <li>
          <!-- Company logo -->
          <a class="horizontal-logo" href="/index" title="Return home">
            <div class="logo-image" title="NTT"></div>
            <div class="logo-title">
              <span id="logo-menu">
                <img alt="Image" class="img-responsive" src="/assets/enseja_logo_split.png">
              </span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a href="/index" class="nav-link{{#if active.home}} active{{/if}}">Home</a>
        </li>
        <li class="nav-item" data-toggle="modal" data-target=".bd-example-modal-lg">
          <a href="/skills" class="nav-link">Skill Matrix</a>
        </li>
      </ul>

      <!-- Center utility nav -->
      <!-- ul class="nav navbar-nav navbar-center"></ul -->

      <!-- Right utility nav -->
      <ul class="nav navbar-nav navbar-right">

        <!-- Divider -->
        <li role="separator" class="divider hidden-mobile"></li>
        <!-- Dropdown menu -->
        <li class="dropdown hidden-mobile">
          <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
            class="dropdown-toggle">

            <span class="fa fa-user"></span>{{ user.displayName }}<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              {{#if user.avatar}}
              <img src="{{ user.avatar }}" class="rounded-circle align-self-center mr-2" style="width: 32px;">
              {{else}}
              <i class="far fa-user-circle fa-lg rounded-circle align-self-center mr-2" style="width: 32px;"></i>
              {{/if}}
              </a>
            </li>
            <li><a href="#">{{ user.displayName }}</a></li>
            <li class="active"><a href="#">{{ user.email }}</a></li>
            <li><a href="/auth/signout" class="dropdown-item">Sign Out</a></li>
            {{else}}
             <!--colocar um redirect-->
            {{/if}}
          </ul>

        </li>

      </ul>

    </nav>
  </header>




  <body>

    <main role="main" class="container">
      {{#each error}}
      <div class="alert alert-danger" role="alert">
        <p class="mb-3">{{ this.message }}</p>
        {{#if this.debug }}
        <pre class="alert-pre border bg-light p-2"><code>{{ this.debug }}</code></pre>
        {{/if}}
      </div>
      {{/each}}

      {{{body}}}
    </main>

<footer class="site-footer">
    <div class="row">
        <div class="col-xs-12">
            <p class="footer-copyright">© Copyright 2020 developed by Jackeline Carvalho and Levi Teixeira. NTT Ltd.</p>
            <ul class="list-inline footer-links">
                <li><a>Privacy</a></li>
                <li><a>Terms of use</a></li>
                <li><a>Cookie policy</a></li>
            </ul>
        </div>
    </div>
</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://basecoat.cdn.dimensiondata.com/3.2.6/js/dd.basecoat.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <!-- script src="js/app.min.js"></script -->
    <script type="text/javascript" src="/js/index.js"></script>


    <!-- your own script here -->
    <script defer src="https://basecoat.cdn.dimensiondata.com/3.2.6/js/outdated-browser.min.js"></script>
  </body>

</html>