{{#if user}}
<br>

<h1 class="text-center"> My Skills </h1>
<br>
<div class="nav-tabs-responsive scrollbars">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab1">F5</a></li>
    <li><a data-toggle="tab" href="#tab2">Security</a></li>
    <li><a data-toggle="tab" href="#tab3">DataCenter</a></li>
    <li><a data-toggle="tab" href="#tab4">Wifi</a></li>
    <li><a data-toggle="tab" href="#tab5">Routing&Switching</a></li>
    <li><a data-toggle="tab" href="#tab6">Collaboration</a></li>
  </ul>
</div>

<div class="tab-content">
  
  <div id="tab1" class="tab-pane fade in active">
    <div class="row" data-toggle="modal" data-target=".modal-f5">
   <div class="table-responsive scrollbars">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>LTM</th>
                <th>GTM</th>
                <th>ASM</th>
                <th>APM</th>
                <th>BIG IQ</th>
              </tr>
            </thead>
            <tbody>
              <!-- fazer for each aqui-->
              <tr>                
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.job}}</td>
                <td>{{data.office}}</td>
                <td>{{data.LTM}}</td>
                <td>{{data.GTM}}</td>
                <td>{{data.ASM}}</td>
                <td>{{data.APM}}</td>
                <td>{{data.BIGIQ}}</td>
                <!--td><i class="fa fa-edit" aria-hidden="true"></i><i class="fa fa-trash" aria-hidden="true"></i></td-->
              </tr>
              <!---->
            </tbody>

          </table>
        </div>

    </div>
  </div>
  <div id="tab2" class="tab-pane fade">
    <div class="row"  data-toggle="modal" data-target=".modal-security">
   <div class="table-responsive scrollbars">
          <table class="table table-hover">
            <thead>
               <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>Firepower</th>
                <th>ASA</th>
                <th>ISE</th>
                <th>Umbrella</th>
                <th>NGIPS</th>
              </tr>
            </thead>
           <tbody>
              <!-- fazer for each aqui-->
              <tr>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.job}}</td>
                <td>{{data.office}}</td>
                <td>{{data.Firepower}}</td>
                <td>{{data.ASA}}</td>
                <td>{{data.ISE}}</td>
                <td>{{data.Umbrella}}</td>
                <td>{{data.NGIPS}}</td>
                <!--td><i class="fa fa-edit" aria-hidden="true"></i><i class="fa fa-trash" aria-hidden="true"></i></td-->
              </tr>
            
              <!---->
            </tbody>

          </table>
        </div>

    </div>
  </div>
  <div id="tab3" class="tab-pane fade">
    <div class="row"  data-toggle="modal" data-target=".modal-datacenter">

 <div class="table-responsive scrollbars">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>ACI</th>
                <th>UCS</th>
                <th>MDS</th>
                <th>Vmware</th>
                <th>FIS</th>
              </tr>
            </thead>
            <tbody>
              <!-- fazer for each aqui-->
              <tr>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.job}}</td>
                <td>{{data.office}}</td>
                <td>{{data.ACI}}</td>
                <td>{{data.UCS}}</td>
                <td>{{data.MDS}}</td>
                <td>{{data.Vmware}}</td>
                <td>{{data.FIS}}</td>
                <!--td><i class="fa fa-edit" aria-hidden="true"></i><i class="fa fa-trash" aria-hidden="true"></i></td-->
              </tr>
            
              <!---->
            </tbody>

          </table>
        </div>

    </div>
  </div>
  <div id="tab4" class="tab-pane fade">
    <div class="row">
        <div class="table-responsive scrollbars">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>WCS</th>
                <th>WLC</th>
                <th>AP</th>
                <th>Meraki</th>
                <th>Aruba</th>
              </tr>
            </thead>
            <tbody>
              <!-- fazer for each aqui-->
              <tr>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.job}}</td>
                <td>{{data.office}}</td>
                <td>{{data.WCS}}</td>
                <td>{{data.WLC}}</td>
                <td>{{data.AP}}</td>
                <td>{{data.Meraki}}</td>
                <td>{{data.Aruba}}</td>
                <!--td><i class="fa fa-edit" aria-hidden="true"></i><i class="fa fa-trash" aria-hidden="true"></i></td-->
              </tr>
            
              <!---->
            </tbody>

          </table>
        </div>


    </div>
  </div>
  <div id="tab5" class="tab-pane fade">
    <div class="row">
        <div class="table-responsive scrollbars">
          <table class="table table-hover">
            <thead>
               <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>Routing</th>
                <th>Switching</th>
                <th>VLAN</th>
                <th>BGP</th>
                <th>StaticRouting</th>
              </tr>
            </thead>
            <tbody>
              <!-- fazer for each aqui-->
              <tr>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.job}}</td>
                <td>{{data.office}}</td>
                <td>{{data.Routing}}</td>
                <td>{{data.Switching}}</td>
                <td>{{data.VLAN}}</td>
                <td>{{data.BGP}}</td>
                <td>{{data.StaticRouting}}</td>
                <!--td><i class="fa fa-edit" aria-hidden="true"></i><i class="fa fa-trash" aria-hidden="true"></i></td-->
              </tr>
            
              <!---->
            </tbody>

          </table>
        </div>


    </div>
  </div>

  <div id="tab6" class="tab-pane fade">
    <div class="row">
        <div class="table-responsive scrollbars">
          <table class="table table-hover">
            <thead>
               <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>CUCM</th>
                <th>UCCX</th>
                <th>MediaSense</th>
                <th>Telepresence</th>
                <th>Webex</th>
              </tr>
            </thead>
            <tbody>
              <!-- fazer for each aqui-->
              <tr>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.job}}</td>
                <td>{{data.office}}</td>
                <td>{{data.CUCM}}</td>
                <td>{{data.UCCX}}</td>
                <td>{{data.MediaSense}}</td>
                <td>{{data.Telepresence}}</td>
                <td>{{data.Webex}}</td>
                <!--td><i class="fa fa-edit" aria-hidden="true"></i><i class="fa fa-trash" aria-hidden="true"></i></td-->

              </tr>
            
              <!---->
            </tbody>

          </table>
        </div>
      </div>
    </div>
    <div class="col-md-5"></div>
        <div class="col-xs-12 col-md-2 col-lg-2 text-center">
            <form action="/skills/delete/{{user._id}}" method="POST">
            <button type="submit" onclick="return alert('Are You sure?')" class="btn btn-danger btn-block bottom-gutter">Delete</button>
            </form>
        </div>
  </div>
</div>

<!-- modal mostra tabela, se não abre modal - update -->
<div class="modal fade modal-f5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content stepper-content">
            <form action="/skills/update/{{data._id}}" method="POST">

<div class="row">
<div class="col-xs-12">
<h3>F5</h3>
<div class="form-skill">
                  <div class="form-group col-md-6">
                    <label for="formGroupExampleInput">LTM</label>
                        <select class="form-control" id="formGroupExampleInput" name="LTM">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="formGroupExampleInput2">GTM</label>
                        <select class="form-control" id="formGroupExampleInput2" name="GTM">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput3">ASM</label>
                        <select class="form-control" id="formGroupExampleInput3" name="ASM">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput4">APM</label>
                        <select class="form-control" id="formGroupExampleInput4" name="APM">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput5">BIG-IQ</label>
                        <select class="form-control" id="formGroupExampleInput5" name="BIGIQ">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
</div>
</div>
<div class="col-md-10 col-lg-10"></div>
<div class="col-xs-12 col-md-2 col-lg-2 text-center">
  <button type="submit" class="btn btn-primary btn-block">Update</button>
</div>
    </div>
</div>
</div>

    
    <!-- modal mostra tabela, se não abre modal-->
<!--div class="modal fade modal-security" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content stepper-content">
      <div class="row">
        <div class="col-xs-12">

               <h3>Security</h3>
          <div class="form-skill">

                  <div class="form-group col-md-6">
                    <label for="formGroupExampleInput">Firepower</label>
                        <select class="form-control" id="formGroupExampleInput" name="Firepower">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="formGroupExampleInput2">ASA</label>
                        <select class="form-control" id="formGroupExampleInput2" name="ASA">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput3">ISE</label>
                        <select class="form-control" id="formGroupExampleInput3" name="ISE">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput4">Umbrella</label>
                        <select class="form-control" id="formGroupExampleInput4" name="Umbrella">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput5">NGIPS</label>
                        <select class="form-control" id="formGroupExampleInput5" name="NGIPS">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
</div>
</div>

      <div class="col-md-10 col-lg-10"></div>
      <div class="col-xs-12 col-md-2 col-lg-1 text-center">
        <button type="button" class="btn btn-danger btn-block bottom-gutter">Delete</button>
      </div>
      <div class="col-xs-12 col-md-2 col-lg-1 text-center">
        <button type="button" class="btn btn-primary btn-block bottom-gutter">Update</button>
      </div>
    </div>
    </div>
    </div>
    <!- modal mostra tabela, se não abre modal->
<div class="modal fade modal-wifi" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content stepper-content">
      
    </div>
    </div>
    </div>
    <!- modal mostra tabela, se não abre modal->
<div class="modal fade modal-datacenter" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content stepper-content">
      
    </div>
    </div>
    </div>
    <!- modal mostra tabela, se não abre modal->
<div class="modal fade modal-routing" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content stepper-content">
      
    </div>
    </div>
    </div>
        <!- modal mostra tabela, se não abre modal-->
<div class="modal fade modal-collaboration" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content stepper-content">
      
    </div>
    </div>
    </div-->
<!---->
{{else}}
<script> window.location ='/';</script>
{{/if}}