{{#if user}}
<br>
<div class="col-xs-12 col-sm-12 col-lg-12 bottom-gutter" data-toggle="modal" data-target=".bd-example-modal-lg">
  <button type="button" class="btn btn-block btn-primary">New Skill Matrix</button>
</div>

<h1> teste </h1>
<br>
{{#compare user.email  data.email operator="=="}}
<div class="table-responsive scrollbars">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Employees</th>
      <th scope="col">E-mail</th>
      <th scope="col">Office</th>
      <th scope="col">Job</th>
      <th scope="col">LTM</th>
      <th scope="col">GTM</th>
      <th scope="col">ASM</th>
      <th scope="col">APM</th>
      <th scope="col">BIG-IQ</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="rows">1</th>
        <td>{{data.email}}</td>
        <td>{{data.office}}</td>
        <td>{{data.job }}</td>
        <td>{{data.LTM}}</td>
        <td>{{data.GTM}}</td>
        <td>{{data.ASM}}</td>
        <td>{{data.APM}}</td>
        <td>{{data.BIGIQ}}</td>
        <td><i class="fa fa-edit" aria-hidden="true"></i><i class="fa fa-trash" aria-hidden="true"></i></td>
      </tr>
  </tbody>
  </table>
</div>
{{/compare}}
<!-- modal mostra tabela, se não abre modal-->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content stepper-content">
    <form action="/skills/create" method="POST">
        <div class="tab-content">
          <!-- start cad -->
          <input  class="hidden" name="name" value="{{ user.displayName }}">
          <input  class="hidden" name="email" value="{{ user.email }}">
          <input  class="hidden" name="office" value="{{ user.office }}">
          <input  class="hidden" name="job" value="{{ user.job }}">
        

          <!-- start cad -->

<div class="tab-content">
  <div id="step1" class="tab-pane fade in active">
    <div class="row">
      <div class="col-xs-12">
            <h3>F5</h3>
                <div class="form-skill">
                  <div class="form-group col-md-6">
                    <label for="formGroupExampleInput">LTM</label>
                        <select class="form-control" id="formGroupExampleInput" name="LTM">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="formGroupExampleInput2">GTM</label>
                        <select class="form-control" id="formGroupExampleInput2" name="GTM">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput3">ASM</label>
                        <select class="form-control" id="formGroupExampleInput3" name="ASM">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput4">APM</label>
                        <select class="form-control" id="formGroupExampleInput4" name="APM">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput5">BIG-IQ</label>
                        <select class="form-control" id="formGroupExampleInput5" name="BIGIQ">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                </div>

   
      </div>
    </div>
  </div>
  <div id="step2" class="tab-pane fade">
    <div class="row">
      <div class="col-xs-12">

               <h3>Security</h3>
                <div class="form-skill">

                  <div class="form-group col-md-6">
                    <label for="formGroupExampleInput">Firepower</label>
                        <select class="form-control" id="formGroupExampleInput" name="Firepower">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="formGroupExampleInput2">ASA</label>
                        <select class="form-control" id="formGroupExampleInput2" name="ASA">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput3">ISE</label>
                        <select class="form-control" id="formGroupExampleInput3" name="ISE">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput4">Umbrella</label>
                        <select class="form-control" id="formGroupExampleInput4" name="Umbrella">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput5">NGIPS</label>
                        <select class="form-control" id="formGroupExampleInput5" name="NGIPS">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                </div>


      </div>
    </div>
  </div>
  <div id="step3" class="tab-pane fade">
    <div class="row">
      <div class="col-xs-12">
       
       
              <h3>Datacenter</h3>
                <div class="form-skill">
                  <div class="form-group col-md-6">
                    <label for="formGroupExampleInput">ACI</label>
                        <select class="form-control" id="formGroupExampleInput" name="ACI">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="formGroupExampleInput2">UCS</label>
                        <select class="form-control" id="formGroupExampleInput2" name="UCS">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput3">MDS</label>
                        <select class="form-control" id="formGroupExampleInput3" name="MDS">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput4">Vmware</label>
                        <select class="form-control" id="formGroupExampleInput4" name="Vmware">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput5">FIS</label>
                        <select class="form-control" id="formGroupExampleInput5" name="FIS">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                </div>
              </div>



      </div>
    </div>
  </div>
  <div id="step4" class="tab-pane fade">
    <div class="row">
      <div class="col-xs-12">
  <h3>WIFI</h3>
                <div class="form-skill">
                  <div class="form-group col-md-6">
                    <label for="formGroupExampleInput">WCS</label>
                        <select class="form-control" id="formGroupExampleInput" name="WCS">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="formGroupExampleInput2">WLC</label>
                        <select class="form-control" id="formGroupExampleInput2" name="WLC">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput3">AP</label>
                        <select class="form-control" id="formGroupExampleInput3" name="AP">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput4">Meraki</label>
                        <select class="form-control" id="formGroupExampleInput4" name="Meraki">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput5">Aruba</label>
                        <select class="form-control" id="formGroupExampleInput5" name="Aruba">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                </div>
              </div>


      </div>
    </div>
  </div>
    <div id="step5" class="tab-pane fade">
    <div class="row">
      <div class="col-xs-12">
 <h3>RoutingSwitching</h3>
                <div class="form-skill">
                  <div class="form-group col-md-6">
                    <label for="formGroupExampleInput">Routing</label>
                        <select class="form-control" id="formGroupExampleInput" name="Routing">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="formGroupExampleInput2">Switching</label>
                        <select class="form-control" id="formGroupExampleInput2" name="Switching">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput3">VLAN</label>
                        <select class="form-control" id="formGroupExampleInput3" name="VLAN">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput4">BGP</label>
                        <select class="form-control" id="formGroupExampleInput4" name="BGP">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput5">Static Routing</label>
                        <select class="form-control" id="formGroupExampleInput5" name="StaticRouting">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                </div>
              </div>

      </div>
    </div>
  </div>
    <div id="step6" class="tab-pane fade">
    <div class="row">
      <div class="col-xs-12">
   <h3>Collaboration</h3>
                <div class="form-skill">
                  <div class="form-group col-md-6">
                    <label for="formGroupExampleInput">CUCM</label>
                        <select class="form-control" id="formGroupExampleInput" name="CUCM">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="formGroupExampleInput2">UCCX</label>
                        <select class="form-control" id="formGroupExampleInput2" name="UCCX">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput3">Media Sense</label>
                        <select class="form-control" id="formGroupExampleInput3" name="MediaSense">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput4">Telepresence</label>
                        <select class="form-control" id="formGroupExampleInput4" name="Telepresence">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="formGroupExampleInput5">Webex</label>
                        <select class="form-control" id="formGroupExampleInput5" name="Webex">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                </div>
              </div>
     
                   
      </div>
  <div class="btn-toolbar pull-right">
          <button type="submit" class="btn btn-primary" onClick=" $(this).closest('.modal').modal('hide');$('[steps]').trigger('complete'); basecoat.alert('Skills salvas com sucesso!').on('accept', function () { $('[steps]').trigger('reset'); });">Finish</button>
        </div>
    </div>
              
  </div>
 <div class="row">
          <div class="nav-tabs-responsive scrollbars col-md-12">
                  <ul class="nav nav-tabs nav-justified progress-steps" data-progress-steps="linear" steps>
                    <li class="active"><a data-toggle="tab" href="#step1"><span class="progress-step"> F5</span></a></li>
                    <li ><a data-toggle="tab" href="#step2"><span class="progress-step"> Security</span></a></li>
                    <li ><a data-toggle="tab" href="#step3"><span class="progress-step"> Datacenter</span></a></li>
                    <li><a data-toggle="tab" href="#step4"><span class="progress-step"> WIFI</span></a></li>
                    <li><a data-toggle="tab" href="#step5"><span class="progress-step"> RoutingSwitching</span></a></li>
                    <li><a data-toggle="tab" href="#step6"><span class="progress-step"> Collaboration</span></a></li>
                  </ul>
                </div>
 </div>
</div>



            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!---->
{{else}}
<script> window.location ='/';</script>
{{/if}}