{{#if user}}
<br>

<canvas id="doughnut-chart" width="700" height="400"></canvas>
<br>
<!--h4 class="pull-left" style="margin-top: 2px;">Your order</h4>
<div class="pull-right">
  <select class="form-control input-sm">
    <option>Newest</option>
    <option>Top rated</option>
    <option>Sold out</option>
  </select>
</div>
<div class="clearfix"></div-->
<div class="table-responsive scrollbars">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Employees</th>
      <th scope="col">E-mail</th>
      <th scope="col">Office</th>
      <th scope="col">Job</th>
      <th scope="col">LTM</th>
      <th scope="col">GTM</th>
      <th scope="col">ASM</th>
      <th scope="col">APM</th>
      <th scope="col">BIG-IQ</th>

    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        <th scope="row">{{this.name}}</th>
        <td>{{this.email}}</td>
        <td> {{ this.office }}</td>
        <td> {{ this.job }}</td>
        <td>{{this.LTM}}</td>
        <td>{{this.GTM}}</td>
        <td>{{this.ASM}}</td>
        <td>{{this.APM}}</td>
        <td>{{this.BIGIQ}}</td>
      </tr>
    {{/each}}
  </tbody>
  </table>

</div>

<!---->
{{else}}
<script> window.location ='/';</script>
{{/if}}
