{{#if user}}
<br>
<div class="row">
  <div class="col-md-3 col-numbers">
    
<div class="card card-data">
  <h5 class="card-header">Analistas GSC</h5>
  <div class="card-body">
    <a class="btn btn-primary card-number"><h1 class="card-text">80</h1></a>
  </div>
</div>
<br>
<div class="card card-data">
  <h5 class="card-header">Analistas cadastrados</h5>
  <div class="card-body">
    <a class="btn btn-primary card-number"><h1 class="card-text">{{data.length}}</h1></a>
  </div>
</div>
  </div>
<div class="col-md-9 col-chart"> <canvas id="doughnut-chart" width="400" height="175"></canvas>
</div>
</div>

<br>
    
<!-- Modal -->
{{#each data}}
<div class="modal fade" id="ExemploModalCentralizado{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog  modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="TituloModalCentralizado">{{this.name}}</h4>
              <div class="panel-subtitle">{{this.email}}</div>
      </div>
      <div class="modal-body">
        <!-- -->
        <table class="table table-dark">
<!-- avg f5-->
        <thead>
          <tr class="line-title">
            <th scope="col">LoB</th>
            <th scope="col">LTM</th>
            <th scope="col">GTM</th>
            <th scope="col">ASM</th>
            <th scope="col">APM</th>
            <th scope="col">BIG-IQ</th>
            <th scope="col">AVG</th>
          </tr>
        </thead>
        <tbody>
          <tr class="line-default">
            <th class="destaque" scope="row">F5</th>
            <td>{{this.LTM}}</td>
            <td>{{this.GTM}}</td>
            <td>{{this.ASM}}</td>
            <td>{{this.APM}}</td>
            <td>{{this.BIGIQ}}</td>
            <th class="destaque avg-f5">{{#media LTM GTM ASM APM BIGIQ}}
                {{/media}}
            </th>    
          </tr>
        </tbody>
        </table>
<!-- avg security-->
        <table class="table table-dark">

         <thead>
          <tr class="line-title">
            <th scope="col">LoB</th>
            <th scope="col">Firepower</th>
            <th scope="col">ASA</th>
            <th scope="col">ISE</th>
            <th scope="col">Umbrella</th>
            <th scope="col">NGIPS</th>
            <th scope="col">AVG</th>
          </tr>
        </thead>
        <tbody>
          <tr class="line-default">
            <th class="destaque" scope="row">Security</th>
            <td>{{this.Firepower}}</td>
            <td>{{this.ASA}}</td>
            <td>{{this.ISE}}</td>
            <td>{{this.Umbrella}}</td>
            <td>{{this.NGIPS}}</td>
            <th class="destaque avg-security">{{#media Firepower ASA ISE Umbrella NGIPS}}
                {{/media}}
            </th>    
          </tr>
        </tbody>
        </table>
<!-- avg datacenter-->
        <table class="table table-dark">

         <thead>
          <tr class="line-title">
            <th scope="col">LoB</th>
            <th scope="col">ACI</th>
            <th scope="col">UCS</th>
            <th scope="col">MDS</th>
            <th scope="col">Vmware</th>
            <th scope="col">FIS</th>
            <th  scope="col">AVG</th>
          </tr>
        </thead>
        <tbody>
          <tr class="line-default">
            <th class="destaque" scope="row">DataCenter</th>
            <td>{{this.ACI}}</td>
            <td>{{this.UCS}}</td>
            <td>{{this.MDS}}</td>
            <td>{{this.Vmware}}</td>
            <td>{{this.FIS}}</td>
            <th class="destaque avg-datacenter">{{#media ACI UCS MDS Vmware FIS}}
                {{/media}}
            </th>    
          </tr>
        </tbody>
        </table>
<!-- avg wifi-->
        <table class="table table-dark">

         <thead>
          <tr class="line-title">
            <th scope="col">LoB</th>
            <th scope="col">WCS</th>
            <th scope="col">WLC</th>
            <th scope="col">AP</th>
            <th scope="col">Meraki</th>
            <th scope="col">Aruba</th>
            <th scope="col">AVG</th>
          </tr>
        </thead>
        <tbody>
          <tr class="line-default">
            <th class="destaque" scope="row">Wifi</th>
            <td>{{this.WCS}}</td>
            <td>{{this.WLC}}</td>
            <td>{{this.AP}}</td>
            <td>{{this.Meraki}}</td>
            <td>{{this.Aruba}}</td>
            <th class="destaque avg-wifi">{{#media WCS WLC AP Meraki Aruba}}
                {{/media}}
            </th>    
          </tr>
        </tbody>
        </table>
<!-- avg routingswitching-->
        <table class="table table-dark">

         <thead>
          <tr class="line-title">
            <th scope="col">LoB</th>
            <th scope="col">Routing</th>
            <th scope="col">Switching</th>
            <th scope="col">VLAN</th>
            <th scope="col">BGP</th>
            <th scope="col">StaticRouting</th>
            <th scope="col">AVG</th>
          </tr>
        </thead>
        <tbody>
          <tr class="line-default">
            <th class="destaque" scope="row">Routing&Switching</th>
            <td>{{this.Routing}}</td>
            <td>{{this.Switching}}</td>
            <td>{{this.VLAN}}</td>
            <td>{{this.BGP}}</td>
            <td>{{this.StaticRouting}}</td>
            <th class="destaque avg-routing">{{#media Routing Switching VLAN BGP StaticRouting}}
                {{/media}}
            </th>    
          </tr>
        </tbody>
        </table>
<!-- avg collaboration-->
        <table class="table table-dark">

         <thead>
          <tr class="line-title">
            <th scope="col">LoB</th>
            <th scope="col">CUCM</th>
            <th scope="col">UCCX</th>
            <th scope="col">MediaSense</th>
            <th scope="col">Telepresence</th>
            <th scope="col">Webex</th>
            <th scope="col">AVG</th>
          </tr>
        </thead>
        <tbody>
          <tr class="line-default">
            <th class="destaque" scope="row">Collaboration</th>
            <td>{{this.CUCM}}</td>
            <td>{{this.UCCX}}</td>
            <td>{{this.MediaSense}}</td>
            <td>{{this.Telepresence}}</td>
            <td>{{this.Webex}}</td>
            <th class="destaque avg-collaboration">{{#media CUCM UCCX MediaSense Telepresence Webex}}
                {{/media}}
            </th>    
          </tr>
        </tbody>
      </table>
       <!-- -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
{{/each}}

<!---->
<div class="panel panel-primary">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
      <h4 class="panel-title">
        F5
      </h4>
      <div class="panel-subtitle">Os profissionais com essa tecnologia você encontra aqui</div>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="table-responsive scrollbars">
          <table class="table table-hover dtBasicExample" cellspacing="0" width="100%">

            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>LTM</th>
                <th>GTM</th>
                <th>ASM</th>
                <th>APM</th>
                <th>BIG IQ</th>
                <th>Update</th>
              </tr>
            </thead>
            <!-- Botão para acionar modal -->
            <tbody>
              <!-- fazer for each aqui-->
              {{#each data}}
              <tr type="button" data-toggle="modal" data-target="#ExemploModalCentralizado{{this.id}}">
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.job}}</td>
                <td>{{this.office}}</td>
                <td>{{this.LTM}}</td>
                <td>{{this.GTM}}</td>
                <td>{{this.ASM}}</td>
                <td>{{this.APM}}</td>
                <td>{{this.BIGIQ}}</td>
                <td>{{formatDate this.updatedAt "long"}}</td>
              </tr>
              {{/each}}
              <!---->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<div class="panel panel-primary">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
      <h4 class="panel-title">
        Security
      </h4>
      <div class="panel-subtitle">Os profissionais com essa tecnologia você encontra aqui</div>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="table-responsive scrollbars">
          <table class="table table-hover dtBasicExample" cellspacing="0" width="100%">
            <thead>
               <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>Firepower</th>
                <th>ASA</th>
                <th>ISE</th>
                <th>Umbrella</th>
                <th>NGIPS</th>
                <th>Update</th>
              </tr>
            </thead>
           <tbody>
              <!-- fazer for each aqui-->
                {{#each data}}
              <tr type="button" data-toggle="modal" data-target="#ExemploModalCentralizado{{this.id}}">
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.job}}</td>
                <td>{{this.office}}</td>
                <td>{{this.Firepower}}</td>
                <td>{{this.ASA}}</td>
                <td>{{this.ISE}}</td>
                <td>{{this.Umbrella}}</td>
                <td>{{this.NGIPS}}</td>
                <td>{{formatDate this.updatedAt "long"}}</td>
              </tr>
              {{/each}}
              <!---->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<div class="panel panel-primary">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
      <h4 class="panel-title">
        Data Center
      </h4>
      <div class="panel-subtitle">Os profissionais com essa tecnologia você encontra aqui</div>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="table-responsive scrollbars">
          <table class="table table-hover dtBasicExample" cellspacing="0" width="100%">

            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>ACI</th>
                <th>UCS</th>
                <th>MDS</th>
                <th>Vmware</th>
                <th>FIS</th>
                <th>Update</th>
              </tr>
            </thead>
            <tbody>
              <!-- fazer for each aqui-->
                {{#each data}}
              <tr type="button" data-toggle="modal" data-target="#ExemploModalCentralizado{{this.id}}">
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.job}}</td>
                <td>{{this.office}}</td>
                <td>{{this.ACI}}</td>
                <td>{{this.UCS}}</td>
                <td>{{this.MDS}}</td>
                <td>{{this.Vmware}}</td>
                <td>{{this.FIS}}</td>
                <td>{{formatDate this.updatedAt "long"}}</td>
              </tr>
              {{/each}}
              <!---->
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>


<div class="panel panel-primary">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
      <h4 class="panel-title">
        Wifi
      </h4>
      <div class="panel-subtitle">Os profissionais com essa tecnologia você encontra aqui</div>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="table-responsive scrollbars">
          <table class="table table-hover dtBasicExample" cellspacing="0" width="100%">

            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>WCS</th>
                <th>WLC</th>
                <th>AP</th>
                <th>Meraki</th>
                <th>Aruba</th>
                <th>Update</th>
              </tr>
            </thead>
            <tbody>
              <!-- fazer for each aqui-->
                {{#each data}}
              <tr type="button" data-toggle="modal" data-target="#ExemploModalCentralizado{{this.id}}">
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.job}}</td>
                <td>{{this.office}}</td>
                <td>{{this.WCS}}</td>
                <td>{{this.WLC}}</td>
                <td>{{this.AP}}</td>
                <td>{{this.Meraki}}</td>
                <td>{{this.Aruba}}</td>
                <td>{{formatDate this.updatedAt "long"}}</td>
              </tr>
              {{/each}}
              <!---->
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>


<div class="panel panel-primary">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse5">
      <h4 class="panel-title">
        Routing&Switching
      </h4>
      <div class="panel-subtitle">Os profissionais com essa tecnologia você encontra aqui</div>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="table-responsive scrollbars">
          <table class="table table-hover dtBasicExample" cellspacing="0" width="100%">

            <thead>
               <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>Routing</th>
                <th>Switching</th>
                <th>VLAN</th>
                <th>BGP</th>
                <th>StaticRouting</th>
                <th>Update</th>
              </tr>
            </thead>
            <tbody>
              <!-- fazer for each aqui-->
                {{#each data}}
              <tr type="button" data-toggle="modal" data-target="#ExemploModalCentralizado{{this.id}}">
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.job}}</td>
                <td>{{this.office}}</td>
                <td>{{this.Routing}}</td>
                <td>{{this.Switching}}</td>
                <td>{{this.VLAN}}</td>
                <td>{{this.BGP}}</td>
                <td>{{this.StaticRouting}}</td>
                <td>{{formatDate this.updatedAt "long"}}</td>
              </tr>
              {{/each}}
              <!---->
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>


<div class="panel panel-primary">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse6">
      <h4 class="panel-title">
        Collaboration
      </h4>
      <div class="panel-subtitle">Os profissionais com essa tecnologia você encontra aqui</div>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="table-responsive scrollbars">
          <table class="table table-hover dtBasicExample" cellspacing="0" width="100%">

            <thead>
               <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>CUCM</th>
                <th>UCCX</th>
                <th>MediaSense</th>
                <th>Telepresence</th>
                <th>Webex</th>
                <th>Update</th>
              </tr>
            </thead>
            <tbody>
              <!-- fazer for each aqui-->
                {{#each data}}
              <tr type="button" data-toggle="modal" data-target="#ExemploModalCentralizado{{this.id}}">
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.job}}</td>
                <td>{{this.office}}</td>
                <td>{{this.CUCM}}</td>
                <td>{{this.UCCX}}</td>
                <td>{{this.MediaSense}}</td>
                <td>{{this.Telepresence}}</td>
                <td>{{this.Webex}}</td>
                <td>{{formatDate this.updatedAt "long"}}</td>
              </tr>
              {{/each}}
              <!---->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<!---->
{{else}}
<script> window.location ='/';</script>
{{/if}}



