{{#if user}}
<br>

<canvas id="doughnut-chart" width="300" height="120"></canvas>
<br>

<!-- Modal -->
{{#each data}}
<div class="modal fade" id="ExemploModalCentralizado{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="TituloModalCentralizado">{{this.name}}</h4>
      </div>
      <div class="modal-body">
        <!-- -->
        <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">LTM</th>
            <th scope="col">GTM</th>
            <th scope="col">ASM</th>
            <th scope="col">APM</th>
            <th scope="col">BIG-IQ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">F5</th>
            <td>{{this.LTM}}</td>
            <td>{{this.GTM}}</td>
            <td>{{this.ASM}}</td>
            <td>{{this.APM}}</td>
            <td>{{this.BIGIQ}}</td>
          </tr>
        </tbody>
      </table>
       <!-- -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
{{/each}}

<!---->
<div class="panel panel-primary">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
      <h4 class="panel-title">
        F5
      </h4>
      <div class="panel-subtitle">Os profissionais com essa tecnologia você encontra aqui</div>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="table-responsive scrollbars">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>LTM</th>
                <th>GTM</th>
                <th>ASM</th>
                <th>APM</th>
                <th>BIG IQ</th>
              </tr>
            </thead>
            <!-- Botão para acionar modal -->
            <tbody>
              <!-- fazer for each aqui-->
                {{#each data}}
              <tr type="button" data-toggle="modal" data-target="#ExemploModalCentralizado{{this.id}}">
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.job}}</td>
                <td>{{this.office}}</td>
                <td>{{this.LTM}}</td>
                <td>{{this.GTM}}</td>
                <td>{{this.ASM}}</td>
                <td>{{this.APM}}</td>
                <td>{{this.BIGIQ}}</td>
              </tr>
              {{/each}}
              <!---->
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  <nav aria-label="Page navigation">
                    <ul class="pagination pull-right no-margin">
                      <li class="pagination-extra">
                        <label for="rowsPerPage">Rows per page</label>
                        <select id="rowsPerPage" class="form-control input-sm">
                          <option>5</option>
                          <option selected>10</option>
                          <option>20</option>
                          <option>50</option>
                        </select>
                      </li>
                      <li class="pagination-extra">1-10 of 100</li>
                      <li>
                        <a>
                          <span aria-label="Previous" class="fa fa-angle-left"></span>
                        </a>
                      </li>
                      <li>
                        <a>
                          <span aria-label="Next" class="fa fa-angle-right"></span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>


<div class="panel panel-primary">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">
      <h4 class="panel-title">
        Security
      </h4>
      <div class="panel-subtitle">Os profissionais com essa tecnologia você encontra aqui</div>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="table-responsive scrollbars">
          <table class="table table-hover">
            <thead>
               <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>Firepower</th>
                <th>ASA</th>
                <th>ISE</th>
                <th>Umbrella</th>
                <th>NGIPS</th>
              </tr>
            </thead>
           <tbody>
              <!-- fazer for each aqui-->
                {{#each data}}
              <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.job}}</td>
                <td>{{this.office}}</td>
                <td>{{this.Firepower}}</td>
                <td>{{this.ASA}}</td>
                <td>{{this.ISE}}</td>
                <td>{{this.Umbrella}}</td>
                <td>{{this.NGIPS}}</td>
              </tr>
              {{/each}}
              <!---->
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  <nav aria-label="Page navigation">
                    <ul class="pagination pull-right no-margin">
                      <li class="pagination-extra">
                        <label for="rowsPerPage">Rows per page</label>
                        <select id="rowsPerPage" class="form-control input-sm">
                          <option>5</option>
                          <option selected>10</option>
                          <option>20</option>
                          <option>50</option>
                        </select>
                      </li>
                      <li class="pagination-extra">1-10 of 100</li>
                      <li>
                        <a>
                          <span aria-label="Previous" class="fa fa-angle-left"></span>
                        </a>
                      </li>
                      <li>
                        <a>
                          <span aria-label="Next" class="fa fa-angle-right"></span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>


<div class="panel panel-primary">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
      <h4 class="panel-title">
        Data Center
      </h4>
      <div class="panel-subtitle">Os profissionais com essa tecnologia você encontra aqui</div>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="table-responsive scrollbars">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>ACI</th>
                <th>UCS</th>
                <th>MDS</th>
                <th>Vmware</th>
                <th>FIS</th>
              </tr>
            </thead>
            <tbody>
              <!-- fazer for each aqui-->
                {{#each data}}
              <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.job}}</td>
                <td>{{this.office}}</td>
                <td>{{this.ACI}}</td>
                <td>{{this.UCS}}</td>
                <td>{{this.MDS}}</td>
                <td>{{this.Vmware}}</td>
                <td>{{this.FIS}}</td>
              </tr>
              {{/each}}
              <!---->
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  <nav aria-label="Page navigation">
                    <ul class="pagination pull-right no-margin">
                      <li class="pagination-extra">
                        <label for="rowsPerPage">Rows per page</label>
                        <select id="rowsPerPage" class="form-control input-sm">
                          <option>5</option>
                          <option selected>10</option>
                          <option>20</option>
                          <option>50</option>
                        </select>
                      </li>
                      <li class="pagination-extra">1-10 of 100</li>
                      <li>
                        <a>
                          <span aria-label="Previous" class="fa fa-angle-left"></span>
                        </a>
                      </li>
                      <li>
                        <a>
                          <span aria-label="Next" class="fa fa-angle-right"></span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>


<div class="panel panel-primary">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
      <h4 class="panel-title">
        Wifi
      </h4>
      <div class="panel-subtitle">Os profissionais com essa tecnologia você encontra aqui</div>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="table-responsive scrollbars">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>WCS</th>
                <th>WLC</th>
                <th>AP</th>
                <th>Meraki</th>
                <th>Aruba</th>
              </tr>
            </thead>
            <tbody>
              <!-- fazer for each aqui-->
                {{#each data}}
              <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.job}}</td>
                <td>{{this.office}}</td>
                <td>{{this.WCS}}</td>
                <td>{{this.WLC}}</td>
                <td>{{this.AP}}</td>
                <td>{{this.Meraki}}</td>
                <td>{{this.Aruba}}</td>
              </tr>
              {{/each}}
              <!---->
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  <nav aria-label="Page navigation">
                    <ul class="pagination pull-right no-margin">
                      <li class="pagination-extra">
                        <label for="rowsPerPage">Rows per page</label>
                        <select id="rowsPerPage" class="form-control input-sm">
                          <option>5</option>
                          <option selected>10</option>
                          <option>20</option>
                          <option>50</option>
                        </select>
                      </li>
                      <li class="pagination-extra">1-10 of 100</li>
                      <li>
                        <a>
                          <span aria-label="Previous" class="fa fa-angle-left"></span>
                        </a>
                      </li>
                      <li>
                        <a>
                          <span aria-label="Next" class="fa fa-angle-right"></span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>


<div class="panel panel-primary">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse5">
      <h4 class="panel-title">
        Routing&Switching
      </h4>
      <div class="panel-subtitle">Os profissionais com essa tecnologia você encontra aqui</div>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="table-responsive scrollbars">
          <table class="table table-hover">
            <thead>
               <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>Routing</th>
                <th>Switching</th>
                <th>VLAN</th>
                <th>BGP</th>
                <th>StaticRouting</th>
              </tr>
            </thead>
            <tbody>
              <!-- fazer for each aqui-->
                {{#each data}}
              <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.job}}</td>
                <td>{{this.office}}</td>
                <td>{{this.Routing}}</td>
                <td>{{this.Switching}}</td>
                <td>{{this.VLAN}}</td>
                <td>{{this.BGP}}</td>
                <td>{{this.StaticRouting}}</td>
              </tr>
              {{/each}}
              <!---->
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  <nav aria-label="Page navigation">
                    <ul class="pagination pull-right no-margin">
                      <li class="pagination-extra">
                        <label for="rowsPerPage">Rows per page</label>
                        <select id="rowsPerPage" class="form-control input-sm">
                          <option>5</option>
                          <option selected>10</option>
                          <option>20</option>
                          <option>50</option>
                        </select>
                      </li>
                      <li class="pagination-extra">1-10 of 100</li>
                      <li>
                        <a>
                          <span aria-label="Previous" class="fa fa-angle-left"></span>
                        </a>
                      </li>
                      <li>
                        <a>
                          <span aria-label="Next" class="fa fa-angle-right"></span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>


<div class="panel panel-primary">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse6">
      <h4 class="panel-title">
        Collaboration
      </h4>
      <div class="panel-subtitle">Os profissionais com essa tecnologia você encontra aqui</div>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="table-responsive scrollbars">
          <table class="table table-hover">
            <thead>
               <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Job</th>
                <th>Office</th>
                <th>CUCM</th>
                <th>UCCX</th>
                <th>MediaSense</th>
                <th>Telepresence</th>
                <th>Webex</th>
              </tr>
            </thead>
            <tbody>
              <!-- fazer for each aqui-->
                {{#each data}}
              <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.job}}</td>
                <td>{{this.office}}</td>
                <td>{{this.CUCM}}</td>
                <td>{{this.UCCX}}</td>
                <td>{{this.MediaSense}}</td>
                <td>{{this.Telepresence}}</td>
                <td>{{this.Webex}}</td>
              </tr>
              {{/each}}
              <!---->
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  <nav aria-label="Page navigation">
                    <ul class="pagination pull-right no-margin">
                      <li class="pagination-extra">
                        <label for="rowsPerPage">Rows per page</label>
                        <select id="rowsPerPage" class="form-control input-sm">
                          <option>5</option>
                          <option selected>10</option>
                          <option>20</option>
                          <option>50</option>
                        </select>
                      </li>
                      <li class="pagination-extra">1-10 of 100</li>
                      <li>
                        <a>
                          <span aria-label="Previous" class="fa fa-angle-left"></span>
                        </a>
                      </li>
                      <li>
                        <a>
                          <span aria-label="Next" class="fa fa-angle-right"></span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>

<!---->
{{else}}
<script> window.location ='/';</script>
{{/if}}
